In [1]:
import numpy as np

In [6]:
import pandas as pd

In [3]:
# help(pd.Series)

In [4]:
myindex = ['USA', 'CANADA', 'MEXICO']

In [5]:
mydata = [1776, 1867, 1821]

In [13]:
myseries = pd.Series(mydata, myindex)
myseries #Automaticall displays default numeric index if no index is provided

USA       1776
CANADA    1867
MEXICO    1821
dtype: int64

In [12]:
myseries[0]
myseries['USA'] #Same output, accessible by numeric index or labeled index

1776

In [17]:
#Dictionaries - Automatically transorms into a labeled index with corrosponding values

In [15]:
ages = {'Sam': 20, 'Luke': 15, 'Albert': 55}

In [16]:
pd.Series(ages)

Sam       20
Luke      15
Albert    55
dtype: int64

In [1]:
#Company sales Data from Q1 & Q2

In [2]:
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100, 'China': 500, 'India': 210, 'USA': 260}

In [7]:
sales_q1 = pd.Series(q1)

In [8]:
sales_q2 = pd.Series(q2)

In [9]:
sales_q1['Japan']

80

In [11]:
sales_q1.keys() #Locate key name strings

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [13]:
sales_q1 * 2 
sales_q1 / 100 #get percentage

Japan    0.8
China    4.5
India    2.0
USA      2.5
dtype: float64

In [15]:
sales_q1 + sales_q2 #Recognises that there are different keys

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [19]:
sales_q1.add(sales_q2, fill_value = 0) #Same for division etc

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64